


.ring-container {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-bottom: 30px;
    color: #fcfcfc;
    text-align: right; 

}

.label-of-ring { 
    color: #AEB6BF;
    text-align: right;



}